# Option 1: Heroes of Pymoli

In [4]:
# Dependencies and Setup
import pandas as pd
import csv
import os

csvpath = os.path.join("Resources","purchase_data.csv")
purchasedata = pd.read_csv(csvpath)

In [5]:
purchasedata

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

# Player Count

In [7]:
# Get the number of total players
total_players = len(purchasedata['SN'].unique())
total_players

576

In [8]:
print(f"The total number of players is {total_players}")

The total number of players is 576

# Purchasing Analysis(Total)

In [9]:
# Number of Unique Items
unique_items = len(purchasedata['Item Name'].unique())

In [13]:
print(f"The number of unique items is {unique_items}")

The number of unique items is 179

In [10]:
# Number of Purchases
number_purchases = len(purchasedata['Purchase ID'])

In [16]:
print(f"The total number of purchases is {number_purchases}")

The total number of purchases is 780

In [11]:
# Total Revenue
total_revenue = purchasedata['Price'].sum()

In [19]:
print(f"The total revenue is ${total_revenue}")

The total revenue is $2379.77

In [12]:
# Average Purchase Price
# total revenue / number of purchases
average_purchase_price = total_revenue / number_purchases

In [23]:
print(f"The average purchas price is ${average_purchase_price}")

The average purchas price is $3.0509871794871795

In [13]:
# Create summary data frame to hold the results

data_items = {'Number of Unique Items':[unique_items],
             'Average Price':[average_purchase_price],
             'Number of Purchases':[number_purchases],
             'Total Revenue':[total_revenue]}

item_df = pd.DataFrame(data_items)

In [14]:
item_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

# Gender Demographics

In [15]:
# Total Players
print(f"There are {total_players} players from all genders")

There are 576 players from all genders

In [16]:
# Percentage and Count of Male Players
male_gender = purchasedata[purchasedata["Gender"] == "Male"]
male_gender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
male_count = len(male_gender["SN"].unique())

In [18]:
print(f"The count of male players is {male_count}")

The count of male players is 484

In [19]:
male_percentage = male_count/total_players

In [122]:
print(f"The percentage of Male Players is {male_percentage * 100}%")

The percentage of Male Players is 84.02777777777779%

In [20]:
# Percentage and Count of Female Players
female_gender = purchasedata[purchasedata["Gender"] == "Female"]
female_gender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [21]:
female_count = len(female_gender["SN"].unique())

In [54]:
print(f"The count of Female Players is {female_count}")

The count of Female Players is 81

In [22]:
female_percentage = female_count/total_players

In [58]:
print(f"The percentage of Female Players is {female_percentage * 100}%")

The percentage of Female Players is 14.0625%

In [23]:
# Percentage and Count of Other/Non-Disclosed
non_gender = purchasedata[purchasedata["Gender"] == "Other / Non-Disclosed"]
non_gender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [25]:
nongender_count = len(non_gender["SN"].unique())

In [26]:
print(f"The count of Other/Non-Disclosed Players is {nongender_count}")

The count of Other/Non-Disclosed Players is 11

In [27]:
nongender_percentage = nongender_count/total_players

In [68]:
print(f"The percentage of Other/Non-Disclosed Players is {nongender_percentage * 100}%")

The percentage of Other/Non-Disclosed Players is 1.9097222222222223%

## Summary Table

In [28]:
# Summary Gender Demographics DataFrame

gender_data = {'Gender':["Male","Female","Other/Non-Disclosed"],'Total Count':[male_count,female_count,nongender_count],
            'Percentage of Players':[male_percentage,female_percentage,nongender_percentage]}

gender_df = pd.DataFrame(gender_data)

In [29]:
gender_df

                Gender  Total Count  Percentage of Players
0                 Male          484               0.840278
1               Female           81               0.140625
2  Other/Non-Disclosed           11               0.019097

# Purchasing Analysis (Gender)

In [84]:
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

## Male Players

In [30]:
# Male Players
male_purchase_df = purchasedata[purchasedata["Gender"] == "Male"]
male_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
# Purchase Count

male_purchase_count = male_purchase_df.count()["Purchase ID"]

In [141]:
print(f"The male purchase count is {male_purchase_count}")

The male purchase count is 652

In [32]:
# Total Purchase Value
male_total_purchase_value = male_purchase_df["Price"].sum()

In [143]:
print(f"The total purchase value made by male is ${male_total_purchase_value}")

The total purchase value made by male is $1967.64

In [33]:
# Average Purchase Price
male_average_purchase_price = male_total_purchase_value / male_purchase_count

In [123]:
print(f"The male average purchase price is ${male_average_purchase_price}")

The male average purchase price is $3.0178527607361967

In [34]:
# Average Total Purchase per Person
male_average_purchase_person = male_total_purchase_value/male_count

In [125]:
print(f"The male average purchase total per Person for Male is ${male_average_purchase_person}")

The male average purchase total per Person for Male is $4.065371900826446

## Female Players

In [35]:
# Female Players

female_purchase_df = purchasedata[purchasedata["Gender"] == "Female"]

In [36]:
female_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [37]:
# Purchase Count
female_purchase_count = female_purchase_df.count()["Purchase ID"]

In [138]:
print(f"The female purchase count is {female_purchase_count}")

The female purchase count is 113

In [38]:
# Total Purchase Value
female_total_purchase_value = female_purchase_df["Price"].sum()

In [146]:
print(f"The total purchase value made by female is ${female_total_purchase_value}")

The total purchase value made by female is $361.94

In [39]:
# Average Purchase Price
female_average_purchase_price = female_total_purchase_value / female_purchase_count

In [149]:
print(f"The female average purchase price is ${female_average_purchase_price}")

The female average purchase price is $3.203008849557522

In [40]:
# Average Total Purchase per Person
female_average_purchase_person = female_total_purchase_value/female_count

In [158]:
print(f" The average total purchase per person for female is ${female_average_purchase_person}")

 The average total purchase per person for female is $4.468395061728395

## Other/Non-Disclosed Players

In [41]:
nongender_purchase_df = purchasedata[purchasedata["Gender"] == "Other / Non-Disclosed"]
nongender_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [42]:
# Purchase Count
nongender_purchase_count = nongender_purchase_df.count()["Purchase ID"]

In [165]:
print(f"The nongender purchase count is {nongender_purchase_count}")

The nongender purchase count is 15

In [43]:
# Total Purchase Value
nongender_total_purchase_value = nongender_purchase_df["Price"].sum()

In [167]:
print(f"The total purchase value made by nongender is ${nongender_total_purchase_value}")

The total purchase value made by nongender is $50.19

In [44]:
# Average Purchase Price
nongender_average_purchase_price = nongender_total_purchase_value / nongender_purchase_count

In [169]:
print(f"The nongender average purchase price is ${nongender_average_purchase_price}")

The nongender average purchase price is $3.3459999999999996

In [45]:
# Average Total Purchase per Person
nongender_average_purchase_person = nongender_total_purchase_value/nongender_count

In [171]:
print(f" The average total purchase per person for nongender is ${nongender_average_purchase_person}")

 The average total purchase per person for nongender is $4.5627272727272725

## Summary Table

In [46]:
# Create summary data frame to hold the results

gender_items = {"Gender":["Female","Male","Other / Non-Disclosed"],
    "Purchase Count": [female_purchase_count,male_purchase_count,nongender_purchase_count],
        "Average Purchase Price":[female_average_purchase_price, male_average_purchase_price,nongender_average_purchase_price],
        "Total Purchase Value":[female_total_purchase_value,male_total_purchase_value,nongender_total_purchase_value],
        "Average Total Purchase per Person":[female_average_purchase_person,male_average_purchase_person,nongender_average_purchase_person],
                
               }

gender_df = pd.DataFrame(gender_items)

In [47]:
gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

# Age Demographics

In [74]:
# Establish bins for ages

age_bins = [0,9,14,19,24,29,34,39,46]

age_bins_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [87]:
# Create a copy of the original list purchasedata so changes can be safe

age_df = purchasedata.copy()

In [76]:
# Categorize the existing players using the age bins

age_df["Age Group"] = pd.cut(purchasedata["Age"],age_bins,labels=age_bins_labels)

In [77]:
age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [ ]:
# Calculate the numbers and percentages by age group

In [ ]:
# Numbers

In [78]:
# Age Group Count

age_group_count = age_df.groupby("Age Group")["SN"].nunique()
age_group_count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [79]:
# Age group per category
lessten = age_group_count[0]
ten_fourteen = age_group_count[1]
fifteen_nineteen = age_group_count[2]
twenty_twentyfour = age_group_count[3]
twentyfive_twentynine = age_group_count[4]
thirty_thirtyfour = age_group_count[5]
thirtyfive_thirtynine = age_group_count[6]
forty_plus = age_group_count[7]

In [80]:
print(f"Players age less than ten count {lessten}")
print(f"Players age from 10 to 14 count {ten_fourteen}")
print(f"Players age from 15 to 19 count {fifteen_nineteen}")
print(f"Players age from 20 to 24 count {twenty_twentyfour}")
print(f"Players age from 25 to 29 count {twentyfive_twentynine}")
print(f"Players age from 30 to 34 count {thirty_thirtyfour}")
print(f"Players age from 35 to 39 count {thirtyfive_thirtynine}")
print(f"Players age from 40 and above count {forty_plus}")

Players age less than ten count 17
Players age from 10 to 14 count 22
Players age from 15 to 19 count 107
Players age from 20 to 24 count 258
Players age from 25 to 29 count 77
Players age from 30 to 34 count 52
Players age from 35 to 39 count 31
Players age from 40 and above count 12

In [81]:
# Age Group Total 

age_group_total = age_group_count.sum()
age_group_total

576

In [82]:
print(f"The age group total is {age_group_total}")

The age group total is 576

In [285]:
# Percentages

In [83]:
percent_lessten = lessten / age_group_total * 100
percent_tenfourteen = ten_fourteen/age_group_total * 100
percent_fifteennineteen = fifteen_nineteen/age_group_total * 100
percent_twentytwentyfour = twenty_twentyfour/age_group_total * 100
percent_twentyfivetwentynine = twentyfive_twentynine/age_group_total * 100
percent_thirtythirtyfour = thirty_thirtyfour/age_group_total * 100
percent_thirtyfivethirtynine = thirtyfive_thirtynine/age_group_total * 100
percent_fortyplus = forty_plus/age_group_total * 100

In [84]:
print(f"Players age less than ten percent {percent_lessten}")
print(f"Players age from 10 to 14 percent {percent_tenfourteen}")
print(f"Players age from 15 to 19 percent {percent_fifteennineteen}")
print(f"Players age from 20 to 24 percent {percent_twentytwentyfour}")
print(f"Players age from 25 to 29 percent {percent_twentyfivetwentynine}")
print(f"Players age from 30 to 34 percent {percent_thirtythirtyfour}")
print(f"Players age from 35 to 39 percent {percent_thirtyfivethirtynine}")
print(f"Players age from 40 and above percent {percent_fortyplus}")

Players age less than ten percent 2.951388888888889
Players age from 10 to 14 percent 3.8194444444444446
Players age from 15 to 19 percent 18.57638888888889
Players age from 20 to 24 percent 44.79166666666667
Players age from 25 to 29 percent 13.368055555555555
Players age from 30 to 34 percent 9.027777777777777
Players age from 35 to 39 percent 5.381944444444445
Players age from 40 and above percent 2.083333333333333

## Summary Table

In [85]:
# Create summary data frame to hold the results

data_demographic = {"Age Group":["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
                    "Total Count":[lessten,ten_fourteen,fifteen_nineteen,twenty_twentyfour,twentyfive_twentynine,thirty_thirtyfour,thirtyfive_thirtynine,forty_plus],
                    "Percentage of Players":[percent_lessten,percent_tenfourteen,percent_fifteennineteen,percent_twentytwentyfour,percent_twentyfivetwentynine,percent_thirtythirtyfour,percent_thirtyfivethirtynine,percent_fortyplus]
                   }

demographic_df = pd.DataFrame(data_demographic)

In [86]:
demographic_df

  Age Group  Total Count  Percentage of Players
0       <10           17               2.951389
1     10-14           22               3.819444
2     15-19          107              18.576389
3     20-24          258              44.791667
4     25-29           77              13.368056
5     30-34           52               9.027778
6     35-39           31               5.381944
7       40+           12               2.083333

# Purchasing Analysis (Age)

In [59]:
# Purchase Count

purchase_count = age_df.groupby("Age Group")["Price"].count()

In [60]:
purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [61]:
# Average Purchase Price

purchase_average = age_df.groupby("Age Group")["Price"].mean()

In [62]:
purchase_average

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [63]:
# Total Purchase Price

total_purchase_value = age_df.groupby("Age Group")["Price"].sum()

In [64]:
total_purchase_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [68]:
# Average Purchase Total Per Person by Age Group

average_purchase_total_person = age_df.groupby("Age Group")["Price"].sum() / age_df.groupby("Age Group")["SN"].nunique()

In [69]:
average_purchase_total_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

## Summary Table

In [90]:
# Create summary data frame to hold the results

data_demographic_age = {
                    "Purchase Count":purchase_count,
                    "Average Purchase Price":purchase_average,
                    "Total Purchase Value":total_purchase_value,
                    "Average Total Purchase per Person":average_purchase_total_person,
                   }

data_demographic_df = pd.DataFrame(data_demographic_age)

In [91]:
data_demographic_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

# Top Spenders

In [ ]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [341]:
top_spend_df = purchasedata.copy()

In [342]:
top_spend_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [386]:
top_spender = top_spend_df.groupby("SN")["Price"].sum().sort_values(ascending=False).head()

In [389]:
top_spender

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [413]:
# SN

top_spender_head = top_spend_df.groupby("SN")

In [414]:
# Purchase Count

top_spend_count = top_spender_head["Price"].count()

In [415]:
# Average Purchase Price

top_spend_mean = top_spender_head["Price"].mean()

In [416]:
# Total Purchase Value

top_spend_sum = top_spender_head["Price"].sum()

In [417]:
# Dataframe

data_spent = {"Purchase Count": top_spend_count,
             "Average Purchase Price":top_spend_mean,
             "Total Purchase Value":top_spend_sum}

data_spent_df = pd.DataFrame(data_spent).sort_values("Total Purchase Value", ascending=False)

## Summary Table

In [418]:
data_spent_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

# Most Popular Items

In [407]:
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [94]:
top_pop_items = purchasedata.copy()

In [95]:
# Item ID
# Item Name

top_pop_items_head = top_pop_items.groupby(["Item ID","Item Name"])

In [96]:
# Purchase Count
top_pop_items_purchase_count = top_pop_items_head["Price"].count()

In [97]:
# Item Price
top_pop_items_price = top_pop_items_head["Price"].mean()

In [98]:
# Total Purchase Value
top_pop_items_purchase_value = top_pop_items_head["Price"].sum()

## Summary Table

In [99]:
data_pop_item = {"Purchase Count": top_pop_items_purchase_count,
                 "Item Price":top_pop_items_price,
                "Total Purchase Value":top_pop_items_purchase_value}

data_pop_item = pd.DataFrame(data_pop_item).sort_values("Purchase Count",ascending=False)

In [102]:
data_pop_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

# Most Profitable Items

In [ ]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [103]:
most_profit_items = purchasedata.copy()

In [104]:
# Item ID
# Item Name

most_profit_items_head = most_profit_items.groupby(["Item ID","Item Name"])

In [105]:
# Purchase Count
most_profit_count = most_profit_items_head["Price"].count()

In [106]:
# Item Price
most_profit_price = most_profit_items_head["Price"].mean()

In [107]:
# Total Purchase Value
most_profit_total_purchase = most_profit_items_head["Price"].sum()

## Summary Table

In [108]:
data_profit_item = {"Purchase Count":most_profit_count,
                   "Item Price":most_profit_price,
                   "Total Purchase Value":most_profit_total_purchase}

data_profit_df = pd.DataFrame(data_profit_item).sort_values("Total Purchase Value",ascending=False)

In [111]:
data_profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80